

<div class="container">
<h1 class="h2-picture">איך מגיעים</h1>
<ul style="margin-right: 80px; list-style-type:none;">
   <li style="margin-bottom:10px;">
       <div class="menu-product">
               <span style=""><b>כתובת:</b>&nbsp; יצחק שדה 34, תל אביב</span>
       </div>
   </li>
   <li style="margin-bottom:10px;">
       <div class="menu-product">
               <span style=""><b>טלפון:</b>&nbsp; 058-7-267676</span>
       </div>
   </li>
   <li style="margin-bottom:10px;">
       <div class="menu-product">
               <span style=""><b> שעות פתיחה: </b>&nbsp;א'- ה' &nbsp;08:00-15:30 </span>
       </div>
   </li>
</ul>   
  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1zmUf1dc2ptghCLkU1iFRv19PSZY&z=18" width="100%" height="480"></iframe>
</div>
