
<% meta_tag :description, @productDescription %>
<div class="container" >
   <p>
     <h1 class="h2-picture product-edit-head" ><%= @product.name %></h1>
  </p>
  <div class="thumbnail product-edit-box">
       <%= image_tag  get_picture_link(@product.pictures), :width => "484px", :height => "400px", class: "img-thumbnail" %>
      <div class="product-edit-text">        
        <p>
            <%= @product.overview %>
         </p>
      </div>
      <div id="divSocialShare" class="ya-share2" data-services="lj,vkontakte,facebook,odnoklassniki,moimir,gplus,twitter" style="float:left; margin-top: 20px;">      
      </div>
      
  </div>
</div>
